version: "3.8"
services:
  backend:
    build:
      context: ./externalServer
      dockerfile: Backend.Dockerfile
    container_name: catcam-backend
    working_dir: /app
    command: tail -f /dev/null
    ports:
      - "8000:8000"
    tty: true
    stdin_open: true
  frontend:
    build:
      context: ./externalServer
      dockerfile: Frontend.Dockerfile
    container_name: catcam-frontend
    tty: true
    stdin_open: true
    working_dir: /app
    command: npm run dev
    ports:
      - "3000:3000"
